<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_cleverclash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_cleverclash"
        android:supportsRtl="true"
        android:theme="@style/Theme.CleverClash"
        tools:targetApi="31">

        <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <!-- Actividad de inicio de sesión (pantalla inicial) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad de la Ruleta -->
        <activity android:name=".ActivityRuleta"
            android:label="Ruleta" />

        <!-- Actividad para las categorías -->
        <activity android:name=".CategoryActivity"
            android:label="Categoría"
            android:parentActivityName=".ActivityRuleta">
        </activity>

        <!-- Actividades para las categorías -->
        <activity android:name=".CienciaActivity"
            android:label="Ciencia"
            android:parentActivityName=".ActivityRuleta" />

        <activity android:name=".HistoriaActivity"
            android:label="Historia"
            android:parentActivityName=".ActivityRuleta" />

        <activity android:name=".SportsActivity"
            android:label="Deportes"
            android:parentActivityName=".ActivityRuleta" />

        <activity android:name=".ArtActivity"
            android:label="Arte"
            android:parentActivityName=".ActivityRuleta" />

        <activity android:name=".EntretenimientoActivity"
            android:label="Entretenimiento"
            android:parentActivityName=".ActivityRuleta" />

        <activity android:name=".GeografiaActivity"
            android:label="Geografía"
            android:parentActivityName=".ActivityRuleta" />

        <!-- Actividad de registro -->
        <activity android:name=".RegisterActivity" />

    </application>

</manifest>
